<div id="dialog-new">
    <form class="form" action="#">
        <h3>New Note</h3>
        <textarea id="note-area-new" rows="30" cols="65" placeholder="Note......."></textarea><br/>
        <br/>
        <input type="button" id="send-new" value="Send" />
        <input type="button" id="cancel-new" value="Cancel" />
        <br/>
    </form>
</div>