<div id="dialog-update">
    <form class="form" action="#">
        <h3>Update Note Note</h3>
        <textarea id="note-area-update" rows="30" cols="65"></textarea><br/>
        <br/>
        <input type="button" id="send-update" value="Update" />
        <input type="button" id="cancel-update" value="Cancel" />
        <br/>
    </form>
</div>