<div id="notes" style="margin-bottom: 20px;">
    <div class="sidemeny">
        <a id="opener" style="margin-left: 3px;">+</a>
        {{#each scores}}
            <li style="display: inline; margin-left: 5px;">
                <img src="{{this.raceType}}"/> {{this.score}} 
            </li>
        {{/each}}
    </div>
    <div id="noteslist" style="max-height:300px; overflow: auto;">
        {{#each notes}}
        <div style="overflow:hidden; margin-bottom: 5px; min-height: 50px;">
            <p class="sidemeny">
                <a href="#" id="{{this.id}}$delete">X</a>
                <a href="#" id="{{this.id}}$update">E</a>
                <span style="font-size: 1.3em">{{this.date}}:</span>
            </p>
            <div class="small">
                {{this.note}}
            </div>
        </div>
        {{else}}
        <div class="small meldingb">No notes about this rider</div>
        {{/each}}
    </div>
</div>