<div id="score-detail" style="width: 150;">
    <table class="tablesorter" style="background-color: white">
        {{#each scoresDetail}}
            <tr>
                <td>{{@key}}</td>
                {{#each this}}
                    <td><img src="{{this.raceType}}"/></td>
                    <td>{{this.score}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </table>
</div>